<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MALE FASHION</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/edit-users.css">
    
</head>
<body>
   
 


<div class="class">

    <div >
  <!--Header-->
  <header id="header">
    <nav>
        <div class="container">
            <div class="text-center">
                <a href="/" class="nav-brand text-light" > USER DETAILS </a>
            </div>
        </div>
    </nav>
</header>
 <!--Header-->
 </div>

<div class="row">
<!--main site-->
<main class="" id="site-main">
    <div class="container">
        <div class="box-nav d-flex-justify-between">
           <div class="filter">
            <button class="btn1" > <a href="/admin/view-user" class=" text-light" > All users</a></button>
           </div> 

        </div>

       
        <!--form handlling-->

        <form action="" method="post" id="update_user">


            <div class="new_user">
               
                <div class="form_group">
                    <label for="email" class="text-light">Name</label>
                    
                    <input type="text" name="image" id=""  value="<%=data.name%>">
                </div>
                <div class="form_group">
                    <label for="email" class="text-light">Email</label>
                    
                    <input type="text" name="productName" id=""  value="<%=data.email%>">
                </div>
                <div class="form_group">
                    <label for="email" class="text-light">Password</label>
                    
                    <input type="text" name="categories" id=""  value="<%=data.password%>">
                </div>
                <div class="form_group">
                    <label for="email" class="text-light">Phone number</label>
                    
                    <input type="text" name="brand" id=""  value="<%=data.mobile%>">
                </div>
                <div class="form_group">
                    <label for="email" class="text-light">Address</label>
                    
                    <input type="text" name="address" id=""  value="<%=data.description%>">
                </div>
                
                
               
                
            </div>
          
        </form>

    </div>
</main>
</div>
</div>
<!--main site-->

</body>
</html>