<%- include('includes/header') %>
    <!-- Header Section End -->
   
      <!-- wallet  -->
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__search">
                            <form action="/search-display" method="get"> 
                                <input type="text" name="search" placeholder="Search...">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form>
                            <!-- <form action="/search-display" method="get" class="search">
                                <input type="text"  class="search-box">
                                <input type="submit" class="search-btn">
                            </form> -->
                        </div>
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                     <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                <% for(var i=0; i < cartDetails.length;i++) {%>
                                                    <% if (category != undefined){%>                                  
                                                          <% if (cartDetails[i].category == category.category){categoryStatus = true%>
                                                            <%}else{categoryStatus = false%>
                                                         <%}%>
                                                        
                                                            <% if (categoryStatus){ %>
                                                    
                                                                <li><a href="/category-filter?id=<%=cartDetails[i]._id%>" style="color: black;"><%=cartDetails[i].category%></a></li>
                                                        <%}else{%>
                                                            <li><a href="/category-filter?id=<%=cartDetails[i]._id%>"><%=cartDetails[i].category%></a></li>
                                                            <%}%>
                                                      <%}else{%>  
                                                        <li><a href="/category-filter?id=<%=cartDetails[i]._id%>"><%=cartDetails[i].category%></a></li>
                                                    
                                                <%}%> 
                                            <%}%>
                                               
                                            </ul>
                                        </div>
                                    </div>
                                    </div>
                                 
                                </div>
                                <!-- <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                    <% for (var i =0 ;i< data.length ; i++) {%>
                                                    <li><a href="#">Louis Vuitton</a></li>                                    
                                                    <%}%>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                    </div>
                                    <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__price">
                                                <ul>
                                                    <li><a id="0-500" href="/search-display?min=0&max=500">0.00 - 500.00</a></li>
                                                    <li><a id="500-1000" href="/search-display?min=500&max=1000">500.00 - 1000.00</a></li>
                                                    <li><a id="1000-1500" href="/search-display?min=1000&max=1500">1000.00 - 1500.00</a></li>
                                                    <li><a id="1500-2000" href="/search-display?min=1500&max=2000">1500.00 - 2000.00</a></li>
                                                    <li><a id="2000-2500" href="/search-display?min=2000&max=2500">2000.00 - 2500.00</a></li>
                                                    <li><a id="2500+" href="/search-display?min=2500&max=20000">2500.00+</a></li>
                                                </ul>
                                                <script>
                                                    if('<%=price.max%>' != 0){
                                                        
                                                        if(document.getElementById('0-500').innerHTML == '<%=price.min%>.00 - <%=price.max%>.00'){
                                                            document.getElementById('0-500').style.color = "black"
                                                        } else if(document.getElementById('500-1000').innerHTML == '<%=price.min%>.00 - <%=price.max%>.00'){
                                                            document.getElementById('500-1000').style.color = "black"
                                                        }else if(document.getElementById('1000-1500').innerHTML == '<%=price.min%>.00 - <%=price.max%>.00'){
                                                            document.getElementById('1000-1500').style.color = "black"
                                                        }else if(document.getElementById('1500-2000').innerHTML == '<%=price.min%>.00 - <%=price.max%>.00'){
                                                            document.getElementById('1500-2000').style.color = "black"
                                                        }else if(document.getElementById('2000-2500').innerHTML == '<%=price.min%>.00 - <%=price.max%>.00'){
                                                            document.getElementById('2000-2500').style.color = "black"
                                                        }else if(document.getElementById('2500+').innerHTML == '<%=price.min%>.00+'){
                                                            document.getElementById('2500+').style.color = "black"
                                                        }
                                                    }
                                                    
                                                </script>
                                                <script>
                                                    
                                                        
                                                    //     function filter(min,max){
                                                    //    
                                                    //     $.ajax({
                                                    //         url : '/search-display',
                                                    //         method : 'get',
                                                    //         data : {
                                                    //             min : min,
                                                    //             max : max
                                                    //         },
                                                    //         success : (response) => {
                                                                
                                                    //              
                                                    //                 window.location.href = "http://localhost:3000/search-display"
                                                                
                                                    //         }
                                                    //     })
                                                    // }
                                                    
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseFour">Size</a>
                                    </div> -->
                                    <!-- <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__size">
                                                
                                                <label for="sm">s
                                                    <input type="radio" id="sm">
                                                </label>
                                                <label for="md">m
                                                    <input type="radio" id="md">
                                                </label>
                                                <label for="4xl">l
                                                    <input type="radio" id="4xl">
                                                </label>
                                            </div>
                                        </div>
                                    </div> -->
                                <!-- </div> -->
                                
                                <!-- <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseSix">Tags</a>
                                    </div> -->
                                    <!-- <div id="collapseSix" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__tags">
                                                <a href="#">Product</a>
                                                <a href="#">Bags</a>
                                                <a href="#">Shoes</a>
                                                <a href="#">Fashio</a>
                                                <a href="#">Clothing</a>
                                                <a href="#">Hats</a>
                                                <a href="#">Accessories</a>
                                            </div>
                                        </div>
                                    </div> -->
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="shop__product__option">
                        
<!-- style for search bar -->
                        <style>
                            .search{
                                    width: 500px;
                                    display: flex;
                                }

                                .search-box{
                                    width: 80%;
                                    height: 40px;
                                    padding: 10px;
                                    border-top-left-radius: 10px;
                                    border-bottom-left-radius: 10px;
                                    border: 1px solid #d1d1d1;
                                    text-transform: capitalize;
                                    background: none;
                                    color: #a9a9a9;
                                    outline: none;
                                }

                                .search-btn{
                                    width: 20%;
                                    height: 40px;
                                    padding: 10px 20px;
                                    border: none;
                                    outline: none;
                                    cursor: pointer;
                                    background: #383838;
                                    color: #fff;
                                    text-transform: capitalize;
                                    font-size: 15px;
                                    border-top-right-radius: 10px;
                                    border-bottom-right-radius: 10px;
                                }

                                .search-box::placeholder{
                                    color: #a9a9a9;
                                }

                        </style>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <p>products you are going to to love</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <!-- <div class="shop__product__option__right">
                                    <p>Sort by Price:</p>
                                    <select id="value">
                                        <option value="Low">Low To High</option>
                                        <option value="High">High to Low</option>
                                        
                                    </select>
                                   
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <% if(data.length < 1){%>
                            <%}else{%>
                        <% for (var i =0 ;i< data.length ; i++) {%>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <a href="/view-item?id=<%= data[i]._id%>"><div class="product__item__pic set-bg" data-setbg="<%=data[i].image1%>" alt="">
                                  
                                    
                                    <%if(profileStatus){%>
                                      
                                        <%if(wish_list.length == 0){%>
                                            <div style="position: relative;"  onclick="wishList(event,'<%= data[i]._id%>')" >
                                                <ul class="product__hover">
                                                    <li><i class="fa-solid fa-heart normalHeart"  id='<%= data[i]._id%>'></i></li>
                                                </ul>
                                            </div>
                                            <%}else{%>
                                        <%if(wish_list[0]._id == null ){%>                                    
                                        <%}else{%>                                       
                                     <% let inWishlist = false; for(var j =  0 ; j < wish_list.length ; j++){%>                                                                                                                                                                                 
                                            <%if(  data[i]._id.toString() == wish_list[j].products.item.toString()){ inWishlist = true; } }%>
                                            <% if(inWishlist) { %>
                                                <div style="position: relative;"  onclick="deleteWishlist(event,'<%= data[i]._id%>','<%= data[i]._id%><%=i+1%>')" >
                                                    <ul class="product__hover">
                                                        <li><i class="fa-solid fa-heart heart1" id='<%= data[i]._id%><%=i+1%>'></i></li>
                                                    </ul>
                                                </div>
                                            <%}else{%>
                                                <div style="position: relative;"  onclick="wishList(event,'<%= data[i]._id%>')" >
                                                   
                                                    <ul class="product__hover">
                                                        <li><i class="fa-solid fa-heart normalHeart"  id='<%= data[i]._id%>'></i></li>
                                                    </ul>
                                                </div>
                                            <%}%>
                                            <%}%>
                                <%}%>
                            <%}%>     
                                </div></a>
                                <div class="product__item__text">
                                    <h6><%=data[i].productName%></h6>
                                    <% if(profileStatus){ %>

                                        <%if(data[i].quantity < 3){%>
                                    
                                            <%if(data[i].quantity < 1){%>
                                                
                                            <%}else{%>
                                                <p>Only <%=data[i].quantity%>  are left, <span style="color: #ff9f00;">Hurry up</span></p>
                                            <%}%>
                                       
                                        <%}%>
                                        <%if(data[i].quantity < 1){%>
                                            <a><button style="border: none;background: none;padding: 0;" class="add-cart" ><a>stock out</a></button></a>
                                            <%}else{%>
                                        <a><button style="border: none;background: none;padding: 0;" class="add-cart" onclick=" cartButton('<%= data[i]._id%>'),count('<%= data[i]._id%>')"><a>+ Add To Cart</a></button></a>
                                        <%}%>
                                            <% } else { %>
                                        <a href="/login" class="cart">+ Add To Cart</a>
                                        <%}%>
                                    <script>
                                        function cartButton(productID){
                                            $.ajax({
                                                url:'/add-to-cart?id='+productID,
                                                method:'get',
                                                success : (response)=>{
                                                if(response.status){
                                                    Swal.fire({
                                                    type: 'success',
                                                    title: 'Added to cart',
                                                    showConfirmButton: false,
                                                    timer: 2000    
                                                    })
                                                    document.getElementById('count').innerHTML =  parseInt(document.getElementById('count').innerHTML ) + 1 
                                                }
                                            }
                                            })
                                        }

                                        function wishList(event, productID) {           
                                                event.preventDefault();
                                                event.stopPropagation()                                             
                                                
                                                $.ajax({
                                                    url: '/wish-list?id=' + productID,
                                                    method: 'post',
                                                    success: (response) => {
                                                        if (response.status.status == "add") {
                                                            document.getElementById(productID).style.color = "red"
                                                        } else if(response.status.status == "delete"){
                                                            document.getElementById(productID).style.color = "black"
                                                        }
                                                    }

                                                })

                                            }

                                            function deleteWishlist(event,productID,id){
                                                event.preventDefault();
                                                event.stopPropagation()                                            
                                                    
                                                $.ajax({
                                                    url: '/delete-wishlist?id=' + productID,
                                                    method: 'post',
                                                    success: (response) => {
                                                        if (response.status.status == "add") {
                                                            document.getElementById(id).style.color = "red"
                                                        } else if(response.status.status == "delete"){
                                                            document.getElementById(id).style.color = "black"
                                                        }
                                                    }

                                                })
                                            }
                                        </script>
                                    <div class="rating">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <%if(parseInt(data[i].offerPrice) == parseInt(data[i].price) && data[i].categoryOffer == 0 || parseInt(data[i].offerPrice) == parseInt(data[i].price) && data[i].categoryOffer == undefined){%>                              
                                        <span class="offer-price">RS : <%=data[i].price%></span>                                   
                                    <%}else{%>     
                                        <%if( data[i].categoryOffer == 0 ||data[i].categoryOffer == null ){%>   
                                            <span class="offer-price">RS : <%=data[i].offerPrice%></span> <span class="og-price">RS : <%=data[i].price%></span><span ></span>
                                            <%}else{%>                             
                                        <%if(data[i].offerPrice > data[i].categoryOffer){%>                          
                                            <span class="offer-price">RS : <%=data[i].categoryOffer%></span> <span class="og-price">RS : <%=data[i].price%></span><span ></span>                                       
                                            <%}else{%>          
                                                <span class="offer-price">RS : <%=data[i].offerPrice%></span> <span class="og-price">RS : <%=data[i].price%></span><span ></span>
                                                <%}%>
                                        <%}%>
                                        <%}%>
                                        <style>
                                                        
                                            .pricing{
                                            font-size:18px;
                                            }
                
                                            .offer-price{
                                            font-weight:bold;
                                            }
                                            .og-price{
                                            font-size:.7em;
                                            color: #e21941;
                                            text-decoration: line-through;
                                            }
                
                                           </style>
                                    <div class="product__color__select">
                                        <label for="pc-4">
                                            <input type="radio" id="pc-4">
                                        </label>
                                        <label class="active black" for="pc-5">
                                            <input type="radio" id="pc-5">
                                        </label>
                                        <label class="grey" for="pc-6">
                                            <input type="radio" id="pc-6">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>      
                        <% } %>   
                    </div>

                    <!-- pagination -->
                    <!-- <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                <a class="active" href="#">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <span>...</span>
                                <a href="#">21</a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->

    <!-- Footer Section Begin -->
    <%- include('includes/footer') %>